body{
    background-color: white;
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/490/121/original/wave-abstract-lines-background-line-art-png.png"); 
}
.container{
    border:  black;
    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    
}
/* header */
.header {
    
    width: 100%;
    height: 100px;
    background: #000000;
    color: #f1f1f1;
    position: fixed ;
    grid-area: 1/6;
    top: 0;
    left: 0;
    z-index: 1;
  }
  /* */

  #icons{
   position: absolute;
    float: right;
    z-index: 1;
   
  }
  #linkedin{
    position: fixed;
    width: 50px;
    margin-left: 110px;
    margin-top: 20px;
    z-index: 1;
  }
   

  #name{
   margin-left: 600px;
  }
  #image-homepage{
    width: 500px;
    margin-top: 200px;
  }
  
  
/* Dropdow Manu */

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 100px;
    margin-top: 150px ;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #efbea4;}
/* Footer Information*/

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    opacity: 0.5;
  }
 