body{
    background-color: white;
    
}
.container{
    border: solid black;
    display: grid;
    grid-template-rows: 350px 350px 350px 350px;
    grid-template-columns: 340px 340px 340px 340px;
}
.item-1{
border: solid red;
grid-column: 1;
grid-row: 1;
}
.item-2{
    border: solid green;
    }
.item-3{
        border: solid blue;
        }
        .item-4{
            border: solid rgb(247, 0, 255);
            }